<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">  

</head>
<body>

<h2>Facebook Search Bar</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  {%for friend in friends %}
  <li><a href="/friend_exists/{{friend}}" taget='_blank'>{{friend}}</a></li>
  {% endfor %}
</ul>
<ul>
  {%for friend in friends %}
  <li><a href="https://www.google.com/search?q={{friend}}&sxsrf=ALiCzsYfUQCW_KeBs7RwQEFiJOvZwgkStw%3A1658917225602&ei=aRHhYvqZJJHO7_UPwde9wAU&ved=0ahUKEwi68sWf7Jj5AhUR57sIHcFrD1gQ4dUDCA4&uact=5&oq=layan&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyCwguEMcBEK8BEMsBMgsILhDHARCvARDLATIFCAAQywEyBQgAEIAEMgUIABDLATILCC4QxwEQrwEQywEyCggAEIAEEIcCEBQyBQgAEJECMgoIABCABBCHAhAUOgcIABBHELADOgQIABBDOgsIABCABBCxAxCDAToOCC4QsQMQgwEQxwEQ0QM6CAgAELEDEIMBOhEILhCABBCxAxCDARDHARDRAzoRCC4QgAQQsQMQxwEQ0QMQ1AI6CggAELEDEIMBEEM6BQgAELEDOgsILhCABBDHARCvAToICC4QgAQQsQM6CAguEIAEENQCOgUILhCxAzoICAAQgAQQsQM6BQguEIAEOgYIABAeEBY6BQgAEIYDOgcIIxCwAhAnOgcIIxDqAhAnOggILhDUAhCRAjoQCC4QsQMQgwEQxwEQ0QMQQzoLCC4QsQMQgwEQ1AI6CwguEIAEELEDEIMBOg4ILhCABBCxAxCDARDUAjoHCAAQgAQQCkoECEEYAEoECEYYAFDGCVj6bGDabmgocAB4AoAB2gGIAdsukgEGMC4zNi40mAEAoAEBsAEKyAEIuAEDwAEB&sclient=gws-wiz" target='_blank'>{{friend}}</a></li>
  {% endfor %}
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>

